<html data-scrapbook-source="http://localhost/demo/ru_RU/" data-scrapbook-create="20190913131611975">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Главная</title>
<style type="text/css">body {position: absolute;top: 0;left: 0;bottom: 0;right: 0;}</style>
</head>

<body bgcolor="#FFFFFF">

<table id="table1" width="685" border="0" align="center">

	<tbody><tr><td valign="top" height="165" align="center">
		<a href="http://v8.1c.ru/cnt.jsp/:zup8t_2018_03:/http://v8.1c.ru/hrm/corp_versiya.htm" target="_blank"><img src="picture.gif" width="675" height="150" border="0"></a>	
	</td></tr>
  
	<tr><td valign="top" height="165" align="center">
		<a href="http://v8.1c.ru/cnt.jsp/:zup8t_2018_03:/https://1c.ru/cso-part/rus/partners/training/cso/course?id=188" target="_blank"><img src="picture.png" width="675" height="150" border="0"></a>
	</td></tr>
  
	<tr><td valign="top" height="165" align="center">
		<a href="http://v8.1c.ru/cnt.jsp/:zup8t_2018_03:/http://backup.1c.ru/?q=start_user&amp;utm_source=ppzup&amp;utm_medium=banner&amp;utm_campaign=ppbanner" target="_blank"><img src="picture-1.png" width="675" height="150" border="0"></a>
	</td></tr>
  
	<tr><td valign="top" height="165" align="center">
		<a href="http://localhost/demo/ru_RU/el_books.htm"><img src="picture-1.gif" width="675" height="150" border="0"></a>
	</td></tr>
  
</tbody></table>


</body>
</html>